{% extends 'base.html' %}
{% load static %}

{%  block title %}
Biz haqimizda
{%  endblock %}


{%  block css %}
<!-- css -->
{%  endblock %}

{%  block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          {% for bl in blog %}
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <img src="{{bl.image.url}}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
              <h3>{{bl.title}}</h3>
              <p>{{bl.body}}</p>
            </div>
          </div>
          {% endfor %}
  
        </div>
      </section>
      <!-- End About Section -->
{%  endblock %}


{%  block js %}
<!-- js -->
{%  endblock %}